/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section {
    float: left;
}

section.channels {
    float: none;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.button.red.flashing {
    animation: blinker 0.5s alternate infinite;
}

@keyframes blinker {
    from {
        background-color: white;
    }

    to {
        background-color: black;
    }
}

.button-text {
    font-size: x-small;    
    text-align: center;
    width: 4rem;
}

.navbar-brand {
    height: 3rem;
}

.audio-meters {
    display: flex;
    background-color: #222;
    width: 600px;
    height: 360px;
}

.audio-levels {
    display: flex;
    border: 1px solid #1C1C1C;
    background-color: #1F1F1F;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.audio-input {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.audio-input-name {
    align-self: center;    
    height: 20px;
}

.audio-level {
    align-self: flex-end;
    background: linear-gradient(to top, green 0% 62%, yellow 66% 82%, red 86% 100%);
    margin-left: 2px;
    margin-right: 2px;
    width: 18px;
    height: 300px;
    vertical-align: bottom;
}

.audio-level-value {
    font-size: 8px;
    height: 20px;
}

.audio-level:after {
    content: ' ';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(to bottom, black 2px, transparent 1px);
    background-repeat: repeat-y;
    background-size: 100% 4px;    
}

.audio-ticks {
    color: dimgrey;
    font-size: 8px;
    align-self: flex-end;
    float: left;
    padding-left: 4px;
}

.audio-tick {
    height: 50px;
}

.video-player {
    float: right;
    z-index: 100;
}