/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.button.red.flashing {
    animation: blinker 0.5s alternate infinite;
}

@keyframes blinker {
    from {
        background-color: white;
    }

    to {
        background-color: black;
    }
}